.footer{
  text-align: center;
  padding: 0 0;
  background-color: #0b97c4;
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #FFF;
}

.footer a{
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}


.language-switcher {
  background: linear-gradient(to left, transparent,  rgba(250,250,250,.2));
}

.language-switcher ul {
  list-style: none;
  margin: auto;
  text-align: right;
}

.language-switcher li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}

.language-switcher span{
  color: rgba(255, 255, 255, 0.7);
  cursor: default;
}

.selected {
  border-bottom: 1px solid #fff;
}
