.Song {
  width: 100%;
  padding: 2rem;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: $bss4;
    padding-left: 5rem;
    transition: .25s color ease;

    &:hover {
      color: $color1;
    }
  }

  .songInfo {
    margin: 2rem;
    p {
      display: inline-block;
      line-height: 3rem;
      margin: 1rem;
      font-size: 1.5rem;
    }
  }

  .songDate {
    font-style: italic;
    color: $color1;
    font-size: 1.6rem;
    vertical-align: super;
    display: inline-block;
    text-align: center;

  }

  .songLyrics {
    padding: 2rem 10% 2rem 1rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-family: $fontSecondary;
    text-align: left;
  }

  .writers {
    text-align: center;
  }

  .icons {
    width: 3rem;
    margin-right: 1rem;
    vertical-align: middle;
  }

  &__VideoLyricsContainer{
    display: flex;
    position: relative;
  }

  @media screen and (min-width: 768px) {
    text-align: center;

    .songLyrics {
      margin: 0 auto;
      width: 50%;
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
  }
}