.header {
  background-color: $home2;
  background-size: cover;
}

.add-post-button {
  display: inline-block;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;

}

@media (max-width: 767px){
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}
