.header {
  background-color: #5890AD;
  font-family: $fontPrimary;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top:0;
  width: 100%;
}

.add-post-button {
  display: inline-block;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;

}

@media (max-width: 767px){
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}
