.menu h1 {
  float: left;
  color: #fff;
}

.menu {
  overflow: hidden;
  zoom:1;

  a {
    text-decoration: none;
    color: #fff;
  }


  .site-title {
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    width: 30%;
  }
}


.menu h1 span {
  padding: 1rem;
  font-family: $fontPrimary;
}

.menu img {
  width: 4rem;
  vertical-align: middle;
}


.menu__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  list-style: none;
  margin: auto;
  height: 6rem;
}


.menu__nav a {
  padding:1rem;
  display: block;
  height: 100%;
}


